<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <logger name="org.mongodb.driver" level="ERROR">
    </logger>
    <logger name="com.access.mongodb.mongolib.test" level="DEBUG">
    </logger>
    <logger name="de.flapdoodle.embed.mongo" level="ERROR">
    </logger>
    <logger name="de.flapdoodle.embed.mongo.runtime" level="ERROR">
    </logger>
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>